.contacts, .emptyContact {
  width: 100%;
  padding: 20px;
  padding-left: 300px;
  transition: 0.2s;
  padding-top: 30px;
}

.emptyContact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.emptyContact .addBtn {
  background: #e91e63;
  font-weight: bold;
  color: white;
  padding: 5px;
  margin: 0 5px;
}

.emptyContactMsg {
  max-width: 50%;
  line-height: 1.9;
}

.contacts header {
  text-transform: capitalize;
  margin-bottom: 10px;
}

.contact--heading {
  font-weight: 500;
  color: #616161;
}

.starred--contacts--list {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.starred--contacts--list, .contacts--list {
  list-style: none;
  display: grid;
  grid-auto-rows: 50px;
  grid-gap: 20px;
}

.contacts li {
  display: grid;
  grid-template-columns: 15px 1fr;
  grid-column-gap: 10px;
  align-content: center;
}

.icon {
  display: flex;
  align-items: center;
}

.starred--contacts--list>li:first-child .icon svg {
  fill: #e91e63;
}

.starred--contacts--list li:not(:first-child) .icon svg {
  visibility: hidden;
}

.user-detail-wrap {
  position: relative;
}

.user-detail {
  display: grid;
  grid-template-columns: auto 1fr 1fr 1fr;
  align-items: center;
  font-weight: 500;
  padding: 10px;
  border-radius: 5px;
  transition: 0.2s;
  font-size: 15px;
}

.user-name {
  text-transform: capitalize;
}

.contacts .user-detail-wrap:hover {
  background: #f5f5f5;
  cursor: pointer;
}

.utils {
  visibility: hidden;
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 0;
}

.user-detail-wrap:hover .utils {
  visibility: visible;
}

.util-icon-right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}

.util-icon-right>div {
  width: 24px;
  height: 24px;
}

.util-icon-right>svg {
  margin: 0 5px;
}

.user--profile-img {
  position: relative;
  margin-right: 20px;
}

.utils-check {
  position: absolute;
  transition: 0.2s;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  opacity: 0;
  justify-content: center;
}

.user-detail:hover .user--profile-img img {
  opacity: 0;
  transition: 0.1s;
}

.user-detail:hover .utils-check {
  opacity: 1;
}

.utils-check:hover svg {
  fill: rebeccapurple;
}

@media screen and (max-width: 1000px) {
  .contacts, .emptyContact {
    padding-left: 20px;
  }
  .emptyContactMsg {
    max-width: 100%;
  }
  .emptyContact .addBtn {
    display: block;
  }
}

@media screen and (max-width: 1050px) {
  .user-email {
    display: none;
  }
}