.overlay {
  transition: opacity .15s cubic-bezier(0.4, 0.0, 0.2, 1) .15s;
  background-color: rgba(0, 0, 0, 0.502);
  bottom: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.overlay-active {
  transition: opacity .05s cubic-bezier(0.4, 0.0, 0.2, 1);
  z-index: 300;
  opacity: 1;
}

.modal-header {
  background: #e3e3e3;
  display: flex;
  padding: 25px;
  border-radius: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.modal-user-small-img {
  width: 60px;
  height: 60px;
  display: flex;
  border-radius: 50%;
}

.modal-left, .modal-right {
  display: flex;
  align-items: center;
}

.modal-left {
  flex-grow: 1;
}

.modal-left .user-name {
  margin-left: 20px;
  font-size: 30px;
}

.modal-info-heading {
  font-weight: 400;
  margin: 15px 0;
}

.modal-info-heading::first-letter {
  text-transform: uppercase;
}

.modal-info-section {
  padding: 25px;
}

.modal-info-list>li {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 10px;
}

.modal-icon-wrap {
  margin-right: 20px;
}

.modal-info-section form {
  display: grid;
  grid-gap: 20px;
}

.modal-info-section form label {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-gap: 20px;
}

.modal-info-section form input {
  border: none;
  border-bottom: 1px solid lightgray;
}

input::first-letter {
  text-transform: uppercase;
}

.util-icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}

.util-icons>div {
  width: 24px;
  height: 24px;
}

.modal-icon {
  width: 24px;
  height: 24px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

.modal-footer button {
  text-transform: uppercase;
  border: none;
  margin: 0 10px;
  background: white;
  font-weight: 600;
}

.name input {
  position: relative;
}

.name input::before {
  content: "names";
  position: absolute;
  top: 0;
}

.ccm .email input, .notes input, .ccm .phone input {
  grid-column: 2/-1;
}

button {
  cursor: pointer;
  padding: 10px 15px;
  transition: 0.2s;
}

.cancel {
  color: #1a73e8;
}

form button:hover {
  background: #7f7f7f24;
}

.cancel:hover {
  background: aliceblue;
}

.ccm, .ecm, .vcm {
  background: #fff;
  min-width: 700px;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
  border-radius: 7px;
  z-index: 400;
}

.modal-title::first-letter {
  text-transform: uppercase;
}

.modal-title {
  font-weight: 400;
}

@media screen and (max-width: 1000px) {
  .ccm, .ecm, .vcm {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
  }
}