:root {
  --fluid-nav-purple: #4527a0;
}

* {
  margin: 0;
  padding: 0;
  font-family: Roboto, Fresca;
  outline: none;
}

.fluid-contact {
  display: flex;
  flex-direction: column;
  height: auto;
  overflow: auto;
}

svg, img {
  max-width: 100%;
  max-height: 100%;
  border-radius: inherit;
}

main {
  display: flex;
  min-height: 100vh;
  padding-top: 66px;
}

a {
  color: #2962ff;
  text-decoration: none;
  font-size: 14px;
}